@font-face {
  font-family: Intro-Book;
  src: url(/fonts/Intro/Intro-Book.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Intro-Book-Italic;
  src: url(/fonts/Intro/Intro-Book-Italic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: TCAdministerRR-Bold;
  src: url(/fonts/Administer/TCAdministerRR-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: AdobeHeitiStd;
  src: url(/fonts/AdobeHeitiStd-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
