.paymodal-select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: $input-height;
  border: 1px solid $color-border-input;
  //border-radius: $border-radius;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: Intro-Book, sans-serif;
  color: white;
  background-color: $color-bg-input;
  user-select: none;
  cursor: pointer;
  outline: none;

  &.nice-select {
    &::after {
      //content: '';
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7'%3E%3Cpath d='M6.9 6.7L11.7 2C12.8.9 11.1-.8 10 .3L6 4.1 2.1.4C1-.7-.8.9.4 2l4.8 4.6c.4.5 1.2.5 1.7.1z' fill='%23fff'/%3E%3C/svg%3E");
      //border: 5px solid transparent;
      //border-bottom-width: 0;
      //border-top-color: white;
      position: absolute;
      top: calc(50% - 10px);
      right: 20px;
      transform: translateY(-50%);
      transform-origin: center 130%;
      width: 12px;
      height: 7px;
      //background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7'%3E%3Cpath d='M6.9 6.7L11.7 2C12.8.9 11.1-.8 10 .3L6 4.1 2.1.4C1-.7-.8.9.4 2l4.8 4.6c.4.5 1.2.5 1.7.1z' fill='%23fff'/%3E%3C/svg%3E") no-repeat right 20px top 50%;
      transition: transform .2s;
    }

    .list {
      position: absolute;
      top: 100%;
      left: -1px;
      right: -1px;
      border: 1px solid $color-border-input;
      border-top: none;
      //border-radius: $border-radius-apex
      //border-radius: 0 0 $border-radius $border-radius;
      box-sizing: border-box;
      background-color: $color-bg-input;
      opacity: 0;
      transform: translateY(-10px);
      transition: none .2s;
      transition-property: opacity, transform;
      pointer-events: none;
    }

    .option {
      display: flex;
      align-items: center;
      height: $input-height;
      padding: 0 20px;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #231f1e;
      }

      &.selected {
        display: none;
      }

      /*&[data-value='paymethod_nextpay'],
      &[data-value='paymethod_oplatainfo'] {
        position: relative;
        padding-left: 50px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 20px;
          width: 22px;
          height: 100%;
          background: no-repeat center;
          background-size: contain;
        }
      }

      &[data-value='paymethod_nextpay'] {
        &::before {
          background-image: url("/img/paymodal-logoluna.png");
        }
      }

      &[data-value='paymethod_oplatainfo'] {
        &::before {
          background-image: url("/img/paymodal-bag.png");
        }
      }*/
    }
  }

  &.open {
    //border-radius: $border-radius $border-radius 0 0;

    &::after {
      transform: rotate(180deg);
    }

    .list {
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }
  }
}

select.paymodal-select {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  background: $color-border-input url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5'%3E%3Cpath fill='%23fff' d='M0, 0H10L5, 5z'/%3E%3C/svg%3E") no-repeat right 12px top 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}
